* {
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    background-image: url("/media/lightpaperfibers.png");
}

.navbar .brand {
    background-image: url("/media/leaf-24x24.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 32px !important;
    margin-left: 0 !important;
}

.sign img {
    margin-top: 1px;
}

.snapshot {
    border-radius: 6px;
    box-shadow: 1px 1px #AA9;
    margin-bottom: 16px;
}

#pointer_div {
    position: relative;
}

#topcross,
#bottomcross {
    position: absolute;
}

.timeline {
    list-style: none;
    margin: 0;
}

.timeline li {
    display: inline-block;
    border-radius: 5px;
    margin-right: 12px;
    margin-bottom: 1em;
    background-color: #FFF;
    box-shadow: 1px 1px #AA9;
}

.timeline li .image {
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center;
    background-size: cover;
    width: 272px;
    height: 180px;
}

.timeline li .bar {
    padding: 6px 12px;
    border-left: thin solid #CCB;
    border-right: thin solid #CCB;
    border-bottom: thin solid #CCB;
}

.timeline li .bar .date {
    color: #888;
    text-align: right;
    font-size: 90%;
}

#signin {
    margin-top: 10px;
}

div.fileupload {
  margin: auto;
  position: relative;
  text-align: center;
}

#snap {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}

#uploadButton:hover {
  cursor: pointer;
  _cursor: hand;

}

#plant {
  margin-bottom: 14px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  box-shadow: 1px 1px #AA9;
}

